<div id="postCreation" class="card gedf-card">
	<%= form_with url: "/posts", authenticity_token: false do |f|%>
		<div class="card-body">
			<textarea class="textArea" name="content" autofocus placeholder="Tell me a secret"></textarea>

			<input id="user_information" name="user_id" type="hidden", value="<%= current_user.id %>" />
		</div>

		<div class="actions">
		    <%= f.submit "Enviar", :class => 'btn btn-primay', :id => "sendPostButton"%>
		</div>

	<% end %>
</div>