<div class="userInformationTab">

	<div class="topInformation">

		<div class="iconInformation">
			<div class="userProfile" id="iconProfile">
				<div class="userIcon">
					<i class="fas fa-user"></i>
				</div>
			</div>
		</div>

		<div class="profileUserName">
			<%= @user.name %>
		</div>

	</div>

	<div class="bottonInformation">
	</div>

</div>