td{
  border-collapse: collapse;
  padding: 3px;
  padding-left: 20px;
}


th {
	font-size:14px;
	font-style:italic;
}

.dashboard {
	width: 100%
	height: 100%;
	max-width: 2700px;
	max-height: 5000px;
}

.title {
	text-align: center;
	font-size: 50px;
	background-color: rgba(0,0,0,.03);
	border-bottom: 1px solid grey;
	color: #66b3ff;
}

.topBar{
	position: sticky;
    min-width: 100%;
    border-bottom: 1px solid black;
    top: 0;
	z-index: 9999;
	height: 62px;
	font-size: 20px;
	float: right;
	background-color: #66b3ff;
}

.nav-link {
	margin-right: 130px;
}

#turnOffButton {
	border-radius: 10px;
	background-color: lightgrey;
	margin-top: 15px;
}

.timeline {
	display: flex;
	margin-left: 3%;
	margin-right: 3%;
	margin-top: 100px;
	font-size: 20px;


}

.left {
	width: 25%;
	max-width: 500px;
	margin-right: 4%;
}

#postCreation{
	-webkit-box-shadow: 9px 10px 39px -16px rgba(0,0,0,0.75);
	-moz-box-shadow: 9px 10px 39px -16px rgba(0,0,0,0.75);
	box-shadow: 9px 10px 39px -16px rgba(0,0,0,0.75);
}

.textArea {
	width: 100%;
	height: 150px;
}

#sendPostButton {
	background-color:#66b3ff;
}

.middle {
	width: 40%;
	max-width: 600px;
	margin-left: 1%;
	margin-right: 2%;
}


.post {
	margin-bottom: 20px;
	-webkit-box-shadow: 9px 10px 39px -16px rgba(0,0,0,0.75);
	-moz-box-shadow: 9px 10px 39px -16px rgba(0,0,0,0.75);
	box-shadow: 9px 10px 39px -16px rgba(0,0,0,0.75);
	border-radius: 20px;
}

.card {
	border-radius: 20px;
}

#card-header {
	background-color:#66b3ff;
	color:white;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

#card-footer {
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}
.postContent {
  	max-width: 350px;
  	padding: 3px;
	font-size: 20px;
	text-align: justify;
}

.reactionButton {
	
	height: 25px;
	width: 25px;
	font-size: 10px;
	text-align: left;
	border-radius: 5px;
	background-color: white;
}

.actions {
	display: inline-block;
	padding: 2px;
}

.right {
	width: 30%;
	margin-left: 4%;

}

#allUsers {
  	max-width: 450px;
	-webkit-box-shadow: 9px 10px 39px -16px rgba(0,0,0,0.75);
	-moz-box-shadow: 9px 10px 39px -16px rgba(0,0,0,0.75);
	box-shadow: 9px 10px 39px -16px rgba(0,0,0,0.75);
}



.userName {
	max-width: 300px;
	width: 300px;
	word-wrap: break-word;
}